body {
    background-image: url(../img/photo1.jpg);
    background-color: rgb(17, 164, 197, 1);
    background-size: cover;
    min-height: 100vh;
}

.box-container {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.flex-container {
    display: flex;
}

#city {
    background-color: rgba(41, 128, 185, 0.75);
}

#temp {
    background-color: rgba(43, 78, 101, 0.75);
}

#humidity {
    background-color: rgba(52, 152, 219, 0.75);
}

#wind {
    background-color: rgba(143, 146, 154, 0.75);
}

* {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cityInput,
#cityName,
#inputContainer,
button {
    margin: 3px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#weatherContainer {
    background: rgb(17, 164, 197);
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1300px;
    border: 5px solid rgba(255, 255, 255, 0.829);
    border-radius: 10px;
}

#iconsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 1200px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.icons {
    display: inline-bock;
    float: left;
    height: 200px;
    width: 190px;
    margin: 20px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.image {
    height: 140px;
    width: 100%;
}

.imgClass {
    height: 140px;
    width: 100%;
}

.weather {
    margin: 5px;
    /*  background-color: rgb(106, 215, 255); */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

.maxValues {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

.humidity {
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

.wind {
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}